.task {
    background-color: rgb(211, 164, 239);
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder { /* Si tiene las class task y reminder juntas*/
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}